# Logs
logs
*.log
npm-debug.log*
yarn-debug.log*
yarn-error.log*
pnpm-debug.log*
lerna-debug.log*

node_modules
dist
dist-ssr
*.local

# Editor directories and files
.vs
.vscode/*
!.vscode/extensions.json
.idea
.DS_Store
*.suo
*.ntvs*
*.njsproj
*.sln
*.sw?
*.vs 

# Vite 
.vite 

# SpacetimeDB
backend/spacetimedb/target
backend/.cursor 
backend/.github 
backend/node_modules 
backend/spacetime.json 
backend/spacetime.local.json 
backend/.windsurfrules